!!!5
%html.no-js
    %head
        %meta{charset: "utf-8"}
        %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %title
        %meta{content: "", name: "description"}
        %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
        / Place favicon.ico and apple-touch-icon(s) in the root directory
        %link{href: "css/normalize.css", rel: "stylesheet"}
        %link{href: "css/main.css", rel: "stylesheet"}
        %link{href: "css/styles.css", rel: "stylesheet"}
        / animate.css core
        %link{href: "css/animate.css", rel: "stylesheet"}
        / fontawesome core
        %link{href: "css/font-awesome.min.css", rel: "stylesheet"}
        / bootstrap core
        %link{href: "css/bootstrap.min.css", rel: "stylesheet"}
        %script{src: "js/vendor/modernizr-2.8.0.min.js"}
    %body
        /[if lt IE 8]
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

        %header
            %div.header-inner
                %div.emailus
                    %p
                        %i.fa.fa-envelope
                        Email us at: support@thisrealty.com
                %ul.socialmedia
                    %li
                        %p
                            Get connected with us
                    %li
                        %a{href:"#"}
                            %i.fa.fa-facebook
                    %li
                        %a{href:"#"}
                            %i.fa.fa-twitter
                    %li
                        %a{href:"#"}
                            %i.fa.fa-linkedin
                    %li
                        %a{href:"#"}
                            %i.fa.fa-google-plus
                %div.clear
            %div.header-nav
                %nav.navbar.navbar-default{role:"navigation"}
                    %div.container-fluid
                        %div.navbar-header
                            %button.navbar-toggle{type:"button", "data-toggle"=>"collapse", "data-target"=>"#example"}
                                %span.sr-only
                                    Toggle Navigation
                                %span.icon-bar
                                %span.icon-bar
                                %span.icon-bar
                            %a.navbar-brand{href:"/"}
                                THIS.REALTY
                        %div.collapse.navbar-collapse.pull-right#example
                            %ul.nav.navbar-nav
                                %li.active
                                    %a{href:"#"}
                                        Link
                                %li
                                    %a{href:"#"}
                                        Link
                                %li.dropdown
                                    %a.dropdown-toggle{href:"#", "data-toggle"=>"dropdown"}
                                        Link Dropdown
                                        %b.caret
                                    %ul.dropdown-menu
                                        %li
                                            %a{href:"#"}
                                                Dropdown Link
                                        %li
                                            %a{href:"#"}
                                                Dropdown Link
                                        %li
                                            %a{href:"#"}
                                                Dropdown Link
                                        %li.divider
                                        %li
                                            %a{href:"#"}
                                                Dropdown Link
                                        %li
                                            %a{href:"#"}
                                                Dropdown Link
                                        %li.divider
                                        %li
                                            %a{href:"#"}
                                                Dropdown Link
                                %li
                                    %a{href:"#"}
                                        Contact 
        %div.hero-subpage
            %div.hero-subpage-inner
                %h1.page-heading-title
                    Property Details
                %div.clear
                %p
                    15421 Southwest 39th Terrace - Miami
        %div.page-container
            %div.page-container-inner
                %div.row
                    %div.col-lg-9.col-md-8
                        %div.property-page
                            %div.property-page-img
                                %img{src:"img/property-images/property-img.jpg", alt:""}
                            %div.property-page-grey
                                %p.property-id
                                    Property ID : RH1001
                                %p.property-price
                                    $3,850 Per Month - Villa
                                %p.property-status
                                    For Rent 
                                %div.clear
                            %div.property-page-body
                                %div.property-meta
                                    %ul.property-specs
                                        %li
                                            %p 2800 Sq Ft
                                        %li
                                            %p 2 Bedrooms
                                        %li
                                            %p 3 Bathrooms
                                        %li
                                            %p 2 Garages
                                    %div.clear
                                %div.property-description
                                    %p
                                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                                %div.property-addtioninfo
                                    %h4
                                        Additional Details
                                    %ul.additonalinfo-list
                                        %li 
                                            %span AC:
                                            Ceiling Fan(s), Central 
                                        %li 
                                            %span APPLIANCES:
                                            Dishwasher, Freestanding Gas Range, Garbage Disposal, Microwave 
                                        %li 
                                            %span DISABILITY ACCESS:
                                            36 inch or more wide halls, Doors - Swing in, Entry Slope less than 1 foot, Grab Bars in Bathroom(s), Wheelchair Accessible, Wheelchair Adaptable, Wheelchair Modifications 
                    %div.col-lg-3.col-md-4
                        %div.right-sidebar
                            %div.sidebar-search
                                %h3
                                    %i.fa.fa-search{"aria-hidden" => "true"}
                                    Find Your Home
                                    %span.clear
                                %div.search-body
                                    %label
                                        Property ID
                                    %input{type:"text", name:"", value:"Any"}
                                    %label
                                        Property Location
                                    %select{name:"propertylocation"}
                                        %option{value:"any"}
                                            Any
                                        %option{value:"lapu-lapu"}
                                            Lapu-Lapu
                                        %option{value:"talisay"}
                                            Talisay
                                    %label
                                        Property Status
                                    %select{name:"propertylocation"}
                                        %option{value:"any"}
                                            Any
                                        %option{value:"for-rent"}
                                            For Rent
                                        %option{value:"for-sale"}
                                            For Sale
                                    %label
                                        Property Type
                                    %select{name:"propertylocation"}
                                        %option{value:"any"}
                                            Any
                                        %option{value:"condominium"}
                                            Condominium
                                        %option{value:"single-detact"}
                                            Single Detact
                                    %div.row
                                        %div.col-lg-6.col-md-6.col-sm-6
                                            %label
                                                Min Rooms
                                            %select{name:"minrooms"}
                                                %option{value:"any"}
                                                    Any
                                                %option{value:"1"}
                                                    1
                                                %option{value:"2"}
                                                    2
                                                %option{value:"3"}
                                                    3
                                                %option{value:"4"}
                                                    4
                                                %option{value:"5"}
                                                    5
                                        %div.col-lg-6.col-md-6.col-sm-6
                                            %label
                                                Min Baths
                                            %select{name:"minbaths"}
                                                %option{value:"any"}
                                                    Any
                                                %option{value:"1"}
                                                    1
                                                %option{value:"2"}
                                                    2
                                                %option{value:"3"}
                                                    3
                                                %option{value:"4"}
                                                    4
                                                %option{value:"5"}
                                                    5
                                        %div.clear
                                    %div.row
                                        %div.col-lg-6.col-md-6.col-sm-6
                                            %label
                                                Min Price
                                            %select{name:"minprice"}
                                                %option{value:"any"}
                                                    Any
                                                %option{value:"100000"}
                                                    100,000
                                                %option{value:"200000"}
                                                    200,000
                                                %option{value:"300000"}
                                                    300,000
                                                %option{value:"400000"}
                                                    400,000
                                                %option{value:"500000"}
                                                    500,000
                                                %option{value:"1000000"}
                                                    1,000,000
                                                %option{value:"2000000"}
                                                    2,000,000
                                                %option{value:"3000000"}
                                                    3,000,000
                                                %option{value:"4000000"}
                                                    4,000,000
                                                %option{value:"5000000"}
                                                    5,000,000
                                        %div.col-lg-6.col-md-6.col-sm-6
                                            %label
                                                Max Price
                                            %select{name:"maxprice"}
                                                %option{value:"any"}
                                                    Any
                                                %option{value:"100000"}
                                                    100,000
                                                %option{value:"200000"}
                                                    200,000
                                                %option{value:"300000"}
                                                    300,000
                                                %option{value:"400000"}
                                                    400,000
                                                %option{value:"500000"}
                                                    500,000
                                                %option{value:"1000000"}
                                                    1,000,000
                                                %option{value:"2000000"}
                                                    2,000,000
                                                %option{value:"3000000"}
                                                    3,000,000
                                                %option{value:"4000000"}
                                                    4,000,000
                                                %option{value:"5000000"}
                                                    5,000,000
                                        %div.clear
                                    %div.row
                                        %div.col-lg-6.col-md-6.col-sm-6
                                            %label
                                                Min Area
                                                %span
                                                    (Sq Ft)
                                            %input{type:"text", name:"minarea", value:"Any"}
                                        %div.col-lg-6.col-md-6.col-sm-6
                                            %label
                                                Max Area
                                                %span
                                                    (Sq Ft)
                                            %input{type:"text", name:"maxarea", value:"Any"}
                                        %div.clear
                                    %button.btn.btn-warning.btn-block{type:"button"}
                                        Search
                    %div.clear
        %div.partners
            %div.partners-inner
                %h3
                    Partners
                %div.clear
                %div.partners-body
                    %ul.partners-list
                        %li
                            %a{href:"#"}
                                Filenvest
                        %li
                            %a{href:"#"}
                                Filenvest
                        %li
                            %a{href:"#"}
                                Filenvest
        %div.footercontent
            %div.footercontent-inner
                %div.row
                    %div.col-lg-3.col-md-3.col-sm-6.column
                        %h3.title
                            About This Realty
                        %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quam metus, volutpat at varius vel, posuere nec magna. In vulputate ultricies erat, quis venenatis velit.
                        %p
                            Aenean tellus leo, suscipit ac risus id, pharetra sagittis sapien. Donec arcu lacus, pretium vel faucibus id, consequat sed purus. 
                    %div.col-lg-3.col-md-3.col-sm-6.column
                        %h3.title
                            Lastest Update
                        %ul
                            %li
                                %i.fa.fa-caret-right
                                %a{href:"#"}
                                    Aenean tellus leo, suscipit ac risus id, pharetra sagittis sapien.
                            %li
                                %i.fa.fa-caret-right
                                %a{href:"#"}
                                    Aenean tellus leo, suscipit ac risus id, pharetra sagittis sapien.
                            %li
                                %i.fa.fa-caret-right
                                %a{href:"#"}
                                    Aenean tellus leo, suscipit ac risus id, pharetra sagittis sapien.
                            %li
                                %i.fa.fa-caret-right
                                %a{href:"#"}
                                    Aenean tellus leo, suscipit ac risus id, pharetra sagittis sapien.
                    %div.col-lg-3.col-md-3.col-sm-6.column
                        %h3.title
                            Facebook Updates
                    %div.col-lg-3.col-md-3.col-sm-6.column
                        %h3.title
                            Contact Info.
                        %p
                            3015 Grand Ave, Coconut Grove, Merrick Way, FL 12345
                        %p.clear-margins
                            %i.fa.fa-phone.space-right{"aria-hidden" => "true"}
                            Phone: (032) 495-1185
                        %p.clear-margins
                            %i.fa.fa-envelope-o.space-right{"aria-hidden" => "true"}
                            Email: thisrealty@email.com
        %div.footercopyright
            %div.footercopyright-inner
                %p.copyright
                    Copyright &copy; 2014 This Realty. All Rights Reserved.
                %p.terms
                    %a{:href => "/"}
                        Terms and Conditions
                %div.clear


        %script{src: "js/jquery.1.11.0.js"}
        %script{src: "js/plugins.js"}
        %script{src: "js/bootstrap.min.js"}
        %script{src: "js/main.js"}
        / Google Analytics: change UA-XXXXX-X to be your site's ID.
        :javascript
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');